<nz-modal [nzVisible]="isVisible" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkText]="text" >
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="name"  >名称</nz-form-label>
          <nz-form-control [nzSpan]="16"    >
            <input nz-input name="name" formControlName="name">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="port"  >端口</nz-form-label>
          <nz-form-control [nzSpan]="16"   >
            <input nz-input name="port" formControlName="port">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="period">采集周期</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-input-number formControlName="period"></nz-input-number>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="interval">采集间隔</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-input-number formControlName="interval"></nz-input-number>
          </nz-form-control>
        </nz-form-item>



      </form>
    </ng-container>
  </nz-modal>
