<nz-modal [nzVisible]="isVisible" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzOkText]="text">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="id" nzRequired>id</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="idErrorTpl">
          <input nz-input name="id" formControlName="id">
          <ng-template #idErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">请输入id!</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item> -->
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="name">名称</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input nz-input name="name" formControlName="name">
          <!-- <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">请输入名称!</ng-container>
          </ng-template> -->
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="desc">描述</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input nz-input name="desc" formControlName="desc">
          <!-- <ng-template #descErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">请输入描述!</ng-container>
          </ng-template> -->
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="port">端口</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-input-number style="width:auto;" formControlName="port" name="port" [nzMin]="1" [nzMax]="65535"
            [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="period">采集周期</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-input-number formControlName="period"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="interval">采集间隔</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-input-number formControlName="interval"></nz-input-number>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="protocol">协议</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-select formControlName="protocol">
            <nz-option nzLabel="Modbus RTU" nzValue="rtu"></nz-option>
            <nz-option nzLabel="Modbus TCP" nzValue="tcp"></nz-option>
            <nz-option nzLabel="Parallel TCP" nzValue="parallel-tcp"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="deviceId">默认设备</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-select nzShowSearch name="deviceId" formControlName="deviceId">
            <nz-option *ngFor="let item of deviceList" [nzLabel]="item['name']" [nzValue]="item['id']"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
