 :host {width: 100%;
height: 100%;
display: flex;
 }

nz-header {
  background-color: rgb(240, 242, 245);
  padding: 0;
  margin-bottom: 0.625rem;
}
nz-form-item {
  font-size: 1.25rem;
}
[nz-form] {
}
[nz-input]{width: 100%;
}
nz-layout{
    nz-content {
        width: 100%;
        height: 100%;
       
      }
      input {
      
      }
}
 
