<nz-layout>
  <nz-header>
    <nz-page-header class="site-page-header" nzBackIcon nzTitle="串口连接" nzSubtitle="serial">
      <nz-page-header-extra  >
        <nz-space >
          <input *nzSpaceItem nz-input  placeholder="search value" [(ngModel)]="input" />
          <button *nzSpaceItem nz-button nzType="primary" (click)="search()">
            <span nz-icon nzType="search"></span>
            search</button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </nz-header>


  <nz-content> 
    <nz-table #basicTable [nzData]="datum">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th> 
          <th>port</th>
          <th>created</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data;let i=index">
          <td>{{data.id}}</td>
          <td>{{data.name}}</td> 
          <td>{{data.port}}</td>
          <td>{{data.created}}</td>
          <td nzRight>
            <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this task?" (nzOnConfirm)="delete(i, data.id )"
              (nzOnCancel)="cancel()" nzPopconfirmPlacement="topLeft">
              <i nz-icon nzType="delete"></i>
            </a>

            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="edit(data.id,data)">
              <i nz-icon nzType="edit"></i>
            </a>
          </td>
        </tr>
        <app-serial-fm #child [isVisible]="isVisible" [title]="'串口连接'" [text]="'修改'" (back)=clientFm($event)>
        </app-serial-fm>
      </tbody>
    </nz-table>
  </nz-content>

</nz-layout>
