<nz-layout>
  <nz-header>
    <div class="title"><img src="assets/module.png" />Modbus网关插件</div>

    <div class="user" nzTrigger="click" nz-dropdown [nzDropdownMenu]="menuDp">
      <img class="avatar" src="/assets/manager.png" alt="logo">
      manager
    </div>
    <nz-dropdown-menu #menuDp="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>编辑</li>
        <li nz-menu-item>退出</li>
      </ul>
    </nz-dropdown-menu>
  </nz-header>
  <nz-layout class="main">
    <nz-sider>
      <ul nz-menu nzMode="inline" [nzTheme]="'dark'">
        <li nz-submenu nzTitle="产品管理" nzIcon="project">
          <ul>
            <li nz-menu-item routerLink="/admin/product">产品</li>
            <li nz-menu-item   routerLink="/admin/device">设备</li>
          </ul>
        </li>

        <li nz-submenu nzTitle="连接管理" nzIcon="appstore">
          <ul>
            <li nz-menu-item   routerLink="/admin/server"> TCP服务器 </li>
            <li nz-menu-item routerLink="/admin/link">TCP连接</li>
            <li nz-menu-item   routerLink="/admin/client"> TCP客户端

            </li>
            <li nz-menu-item   routerLink="/admin/serial">串口连接</li>
          </ul>
        </li>

        <!-- <li nz-submenu nzTitle="轮询器" nzIcon="setting">
          <ul>
            <li nz-menu-item (contextmenu)="contextMenu($event, menu,3)" routerLink="/admin/mapper">映射表</li>
          </ul>
        </li> -->

        <li nz-submenu nzTitle="系统设置" nzIcon="apartment">
          <ul>
            <li nz-menu-item   routerLink="/admin/setting/web"> Web</li>
            <li nz-menu-item routerLink="/admin/setting/mqtt">消息总线</li>
            <li nz-menu-item routerLink="/admin/setting/log">日志</li>
            <li nz-menu-item routerLink="/admin/setting/database">数据库</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="selectDropdown( )">编辑</li>
      </ul>
    </nz-dropdown-menu>
    <!-- <app-server-fm [isVisible]="ary[0]" [title]="'TCP服务器'" [text]="'提交'" (back)=clientFm($event)></app-server-fm>
    <app-client-fm [isVisible]="ary[1]" [title]="'TCP客户端'" [text]="'提交'" (back)=clientFm($event)></app-client-fm>
    <app-serial-fm [isVisible]="ary[2]" [title]="'串口连接'" [text]="'提交'" (back)=clientFm($event)></app-serial-fm>
    <app-mapper-fm [isVisible]="ary[3]" [title]="'映射表'" [text]="'提交'" (back)=clientFm($event)></app-mapper-fm>
    <app-device-fm [isVisible]="ary[4]" [title]="'轮询器'" [text]="'提交'" (back)=clientFm($event)></app-device-fm> -->




    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>