<nz-layout>
  <nz-header>
    <nz-page-header class="site-page-header" nzBackIcon nzTitle="映射表" nzSubtitle="modbus_mapper">
      <nz-page-header-extra  >
        <nz-space >
          <input *nzSpaceItem nz-input  placeholder="输入查询字段" [(ngModel)]="input" />
          <button *nzSpaceItem nz-button nzType="primary" (click)="search()">
            <span nz-icon nzType="search"></span>
            查询</button>
            <button *nzSpaceItem nz-button nzType="primary" (click)="add()">
              <i nz-icon nzType="plus"></i>
             新增
            </button>
            <app-mapper-fm [isVisible]="addVisible" [title]="'映射表'" [text]="'提交'" (back)=clientFm($event)></app-mapper-fm>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </nz-header>


  <nz-content>
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>id</th>
          <th>名称</th>
          <th>描述</th>
          <th>代号</th>
          <th>规格</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data;let i=index">
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.desc}}</td>
          <td>{{data.code}}</td>
          <td>{{data.size}}</td>
          <td>{{data.created}}</td>
          <td nzRight>
            <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this task?" (nzOnConfirm)="delete(i, data.id )"
              (nzOnCancel)="cancel()" nzPopconfirmPlacement="topLeft">
              <i nz-icon nzType="delete"></i>
            </a>

            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="edit(data.id,data)">
              <i nz-icon nzType="edit"></i>
            </a>
          </td>
        </tr>
        <app-mapper-fm #child [isVisible]="isVisible" [title]="'映射表'" [text]="'修改'" (back)=clientFm($event)>
        </app-mapper-fm>
      </tbody>
    </nz-table>
  </nz-content>

</nz-layout>
