<nz-modal [nzVisible]="isVisible" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          [nzOkText]="text">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="id" nzRequired>ID</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input nz-input name="id" formControlName="id">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="name">名称</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input nz-input name="name" formControlName="name">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="desc">描述</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input nz-input name="desc" formControlName="desc">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="tunnel_id">通道ID</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input nz-input name="tunnel_id" formControlName="tunnel_id">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="tunnel_id">产品ID</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input nz-input name="product_id" formControlName="product_id">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="slave">从站号</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-input-number formControlName="slave"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-container>
</nz-modal>
