<nz-modal [nzVisible]="isVisible" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkText]="text" >
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="id" nzRequired>id</nz-form-label>
          <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="idErrorTpl">
            <input nz-input name="id" formControlName="id">
            <ng-template #idErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Please input id!</ng-container> 
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="name" nzRequired>name</nz-form-label>
          <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="nameErrorTpl">
            <input nz-input name="name" formControlName="name">
            <ng-template #nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Please input name!</ng-container> 
            </ng-template>
          </nz-form-control>
        </nz-form-item>
       
        <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="desc" nzRequired>desc</nz-form-label>
            <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="descErrorTpl">
              <input nz-input name="desc" formControlName="desc">
              <ng-template #descErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input desc!</ng-container> 
              </ng-template>
            </nz-form-control>
          </nz-form-item>


        <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="period" nzRequired>period</nz-form-label>
            <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="periodErrorTpl">
              <input nz-input name="period" formControlName="period">
              <ng-template #periodErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input period!</ng-container> 
              </ng-template>
            </nz-form-control>
          </nz-form-item>
  
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="interval" nzRequired>interval</nz-form-label>
            <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="intervalErrorTpl">
              <input nz-input name="interval" formControlName="interval">
              <ng-template #intervalErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input interval!</ng-container> 
              </ng-template>
            </nz-form-control>
          </nz-form-item>
  
  
      </form>
    </ng-container>
  </nz-modal>
  