<nz-layout>
    <nz-header>
        <nz-page-header 
        class="site-page-header"
        nzBackIcon
        nzTitle="轮询器" 
      ></nz-page-header
    ></nz-header>
      <nz-content  >
         
      
        <form nz-form  >
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="email">id</nz-form-label>
              <nz-form-control [nzSpan]="5">
                <input nz-input name="id"    >
              </nz-form-control>
            </nz-form-item >
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">name</nz-form-label>
                <nz-form-control [nzSpan]="5">
                  <input nz-input name="name"    >
                </nz-form-control>
              </nz-form-item >
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">desc</nz-form-label>
                <nz-form-control [nzSpan]="5">
                  <input nz-input name="desc"    >
                </nz-form-control>
              </nz-form-item >
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">period</nz-form-label>
                <nz-form-control [nzSpan]="5">
                  <input nz-input name="period"    >
                </nz-form-control>
              </nz-form-item >
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">interval</nz-form-label>
                <nz-form-control [nzSpan]="5">
                  <input nz-input name="interval"    >
                </nz-form-control>
              </nz-form-item >
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">created</nz-form-label>
                <nz-form-control [nzSpan]="5">
                  <input nz-input name="created"    >
                </nz-form-control>
              </nz-form-item >
              
          </form>
       
        
        
        
      </nz-content>
    </nz-layout>
     